@font-face
{
	font-family: eraser;
	src: url('resources/EraserRegular.ttf');
}

@font-face
{
	font-family: crayoncrumble;
	src: url('resources/CrayonCrumble.ttf');
}

@font-face
{
	font-family: smudgie;
	src: url('resources/SmudgieCrayon.ttf');
}

@font-face
{
	font-family: dust;
	src: url('resources/EraserDust.ttf');
}

body
{
    color: rgb(230,230,230);
    background-image: url("resources/Chalkboard.jpg");
    width: 100%;
    height: 100%;
    font-family: crayoncrumble;
}

ellipse
{
	fill: #FC173D;
	stroke: white;
	stroke-width:2;
	opacity:0.5;
}

table
{
    margin:auto;
    margin-top: 5%;
    border-collapse: collapse;
    background-image: url('resources/tictactoeboard.svg');
    background-position: center center; 
}

a:visited
{
	color: #369DF7;
}

a:active
{
	color: white;
}

#gameOverButton
{
	color: #FC8DCE;
	cursor: pointer;
	width: 10em;
	margin: auto;
	display: block;
}

.visible
{
	visibility: visible;
}

.hidden
{
	visibility: hidden;
}

#header
{
    margin: 20px;
    clear: left;
    color: #369DF7;
    /*outline: white dashed 1px;*/
}

#resetsvg 
{
	float: left;
}

#resetButton
{
	width: 6em;
	text-align: right;
	cursor: pointer;
	color: rgb(220,220,220);
	font-size: x-large;
}

#resetButton:hover
{
	opacity: 1;
	color: white;
}

#content
{
	/*clear: left;*/
    width: 65%;
    height: 450px;
	margin: 0 auto;
	text-align: center; 
}

#PlayerXPanel
{
    width: 19%;
    color: #6DB9FC;
    /*outline: white dashed 1px;*/
}

#board
{
    width: 62%;
    /*outline: white dashed 1px;*/
}

#PlayerOPanel
{
	color: #F7C9A0;
    width: 19%;
    float: right;
    /*outline: white dashed 1px;*/
}

#footer
{
    clear: both;
    text-align: center;
    margin: 20px;
    /*outline: white dashed 1px;*/
}

.svgboardline 
{
	float: left;
}

.contentpanel
{
    float: left;
    height: 100%;
    text-align: center;
    font-family: dust;
    font-size: x-large;
}

.boardsquare 
{
    cursor: pointer;
	width: 100px;
	height: 100px;
	font-family: eraser;
	font-size: 90px;
	text-align: center;
}

.up 
{
	margin: auto;
	width: 90%;
	padding: 5%;
	color: rgb(205,205,205);
	font-size: large;
	text-align: center;
	cursor: pointer;
    margin-top: 10px;
    outline: grey dashed 2px;
}

.down 
{
	margin: auto;
	width: 90%;
	padding: 5%;
	color: rgb(205,205,205);
	font-size: large;
	text-align: center;
	cursor: pointer;
    margin-top: 10px;
    outline: grey dashed 2px;
}
