body {
	background-image: url('resources/Chalkboard.jpg');
	background-size: 100%;
	color: rgb(200,200,200);
}

#header {
	text-align: center;
}

#board {
	padding-left:50%;
	padding-right:50%;
}

#statuslabel {
	text-align: center;
}

#turnLabel {
	text-align: center;
}

.playerlabel {
	padding: 10px;
}

.boardsquare {
	width: 50px;
	height: 50px;
	background-color:#008800;
	text-align: center;
	cursor: pointer;
}

a {
	color: black;
    background: #ccc;
    cursor: pointer;
    border-top: solid 2px #eaeaea;
    border-left: solid 2px #eaeaea;
    border-bottom:solid 2px  #eaeaea;
    border-right: solid 2px #eaeaea;
    padding: 5px 5px;   	
    }

a.down {
	color: black;
    background: #aaa;
    border-top: solid 2px #777;
    border-left: solid 2px #777;
    border-bottom: solid 2px #777;
    border-right: solid 2px #777;
    }

td {
	vertical-align: center;
}

