body
{
    color: white;
    background-color: rgb(128, 128, 128);
}

table
{
    margin:auto;
    margin-top: 5%;
}

.contentpanel
{
    float: left;
    height: 100%;
    text-align: center;
}

.boardsquare 
{
    cursor: pointer;
	width: 100px;
	height: 100px;
	background-color:rgb(200,200,200);
	text-align: center;
}

.up 
{
	margin: auto;
	width: 6.4em;
	color: black;
	text-align: center;
	cursor: pointer;
    background: #ccc;
    border-top: solid 2px #eaeaea;
    border-left: solid 2px #eaeaea;
    border-bottom:solid 2px  #eaeaea;
    border-right: solid 2px #eaeaea;
    padding: 5px 5px;   
}

.down 
{
	margin: auto;
	width: 6.4em;
	color: black;
	text-align: center;
	cursor: pointer;
    background: #aaa;
    border-top: solid 2px #777;
    border-left: solid 2px #777;
    border-bottom: solid 2px #777;
    border-right: solid 2px #777;
    padding: 5px 5px; 
}

#resetButton:hover
{
	background-color: blue;
}

#header
{
    margin: 20px;
    outline: white dashed 1px;
    clear: left;
}

#resetButton
{
	width: 10em;
	background-color: red;
	border: pink;
	text-align: center;
	cursor: pointer;
}

#content
{
	clear: left;
    width: 65%;
    height: 450px;
	margin: 0 auto;
}

#PlayerXPanel
{
    width: 16%;
    outline: white dashed 1px;
}

#board
{
    width: 68%;
    outline: white dashed 1px;
}

#PlayerOPanel
{
    width: 16%;
    float: right;
    outline: white dashed 1px;
}

#footer
{
    clear: both;
    text-align: center;
    outline: white dashed 1px;
    margin: 20px;
}
